# IDE & Editor Directories
.vscode/
.idea/
Reference/

# Rust-specific Directories
/target/
**/target/
/build/
**/build/

# Environment & Config Files
.envrc
*.dev.yaml
/configs/substream/*.index.yaml

# Rust-specific Files
Cargo.lock

# Substreams Files
/debug.log
/replay.log

# Miscellaneous
*~
/env/
node_modules/
deploy.sh
